include ./mixin

html
    head
        title Sign-In Page
        link(rel="stylesheet", href="style.css")
    body
        div(id= 'newUser')
            form(action= '/userList', method= 'post')
                div
                    +textInput('uid', 'User Id:')
                div
                    +textInput('name', 'Name:')
                div
                    +textInput('email', 'Email: ')
                div
                    +textInput('age', 'Age: ')
                input(type='submit', class= "button")