include ./mixin

form(action= `/userEditSubmit/${user._id}` method= 'post')
    table(class= 'table')
        tr
            th User Id
            th First Name
            th Email
            th Age
        tr
            td
                +editInput("uid", user.uid)
            td
                +editInput("name", user.name)
            td
                +editInput("email", user.email)
            td
                +editInput("age", user.age)
            td
                input(type='submit')
a(href= `/remove/${user._id}`) Delete
